@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background: radial-gradient(circle, #18181c 20%, #2a2733);
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
